* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
    font-family: "Source Sans Pro";
}

.header{
    display: flex;
    background-color: #3C424D;
    color: #ffffff;
    height: 5.5rem;
    
}

.title-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12rem;
    height: 100%;
    text-align: center;
}

.nav{
    display: flex;
    align-items: center;
}

.nav ul{
    display: flex;
    border: 0.2rem #ced1d6 solid;
    border-radius: 1rem;
    height: 80%;
    align-items: center;
}

.nav ul li{
    display: flex;
    font-size: 2rem;
    text-decoration: none;
    list-style-type: none;
    padding-right: 2rem;
    padding-left: 2rem;
    border-right: 0.2rem #ced1d6 solid;
    height: 100%;
    align-items: center;
    justify-content: center;
    transition: background 0.6s;
}

.nav ul li:hover{
    background: rgba(206, 209, 214,0.6);
}

.nav ul li:nth-of-type(4){
    border-right:none;
}

.main{
    display: flex;
    color: #585858;
    align-items: center;
    flex-direction: column;
}

.welcome-msg{
    font-size:4rem;
    width: 80%;
    margin-top: 4rem;
}

.country-section{
    margin-top: 6rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.countries-container{
    display: flex;
    margin-top: 4rem;
}

.countries-container div{
    display: flex;
    align-items: center;
    height: 25rem;
    width: 35rem;
    position: relative;
    margin:1rem 1rem;
   
    background-size: cover;
    transition: opacity 0.6s;
    opacity: 0.5;
}

.spain{
    background-image: url('https://images.unsplash.com/photo-1578912996078-305d92249aa6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80');
}

.france{
    background-image: url('https://images.unsplash.com/photo-1502602898657-3e91760cbb34?ixlib=rb-1.2.1&auto=format&fit=crop&w=1352&q=80');
}

.germany{
    background-image: url('https://images.unsplash.com/photo-1554062669-9603197b21f5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1464&q=80');
}

.countries-container div:hover{
    opacity: 1;
}

.country-name{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4.5rem;
    color: #ffffff
}

.ld-description{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    color: #ffffff;
    text-align:center;
}

.footer{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: #3C424D;
    color: #ffffff;
    height: 5.5rem;
}

/* County ejs */

.country-title{
    display: flex;
    align-items: center;
    font-size: 5rem;
    margin: 0 auto;
}

.img-country-container{
    height: 30rem;
    width: 40rem;
}

div img{
    max-width:100%;
    max-height:100%;
}

.rules-title{
    font-size: 5rem;
    color: #585858;
}

.rules-container{
    font-size: 2.2rem;
    width: 70%;
}

.rules-container li{
    margin-top: 4rem;
    font-size: 2.2rem;
}